$bem-element-separator: '__' !default;
$bem-modifier-separator: '--' !default;

// BEM: Block (New)
@mixin new($name, $description: '') {
     @at-root {
        .#{$name} {
            @content;
        }
    }
}

// BEM: Pseudo (Is)
@mixin is($selector) {
    &:#{$selector} {
        @content;
    }
}

// BEM: Element (Has)
@mixin has($name) {
    $selector: nth(#{&}, 1);
    $has-pseudo: str_index($selector, ':');

    @if $has-pseudo {
        $rule: #{$selector} #{str-slice($selector, 1, $has-pseudo - 1)}#{$bem-element-separator}#{$name};
    } @else {
        $rule: #{$selector}#{$bem-element-separator}#{$name};
    }

    @if str-index($selector, $bem-element-separator) {
        @error '#{$selector} is already an element';
    }

    @debug $rule;

    #{$rule} {
        @content;
    }
}

// BEM: Modifier (When)
@mixin when($name) {
    $selector: nth(#{&}, 1);
        
    @if str-index($selector, $bem-modifier-separator) {
        @error '#{$selector} is already modified';
    }

    // Add the modifier and rules
    &#{$bem-modifier-separator}#{$name} {
        @extend #{$selector};
        @content;
    }
}
