.cta {
    position: relative;
    z-index: 1;

    overflow: hidden;
    display: inline-block;
    padding: .625rem 1.5rem;
    border: 2px solid #bbb;

    color: #bbb;
    font-size: .9rem;
    font-weight: bold;
    text-transform: uppercase;

    &:not(#{&}--disabled) {
        border-color: $green;

        color: $green;

        &:before {
            position: absolute;
            z-index: -1;
            top: -200%;
            right: -20%;
            bottom: 0;
            left: -10%;

            backface-visibility: hidden;
            background-color: rgba($green, 1);
            content: '';
            opacity: 0;
            transform: rotate(-10deg) translateY(-50%);
            transform-origin: 0 100%;
            transition: all .5s;
        }

        &:hover,
        &:focus {
            border-color: $green--alt;

            color: #fff;

            &:before {
                background-color: rgba($green--alt, 1);
                opacity: 1;
                transform: rotate(-10deg) translateY(50%);
            }
        }

        &:active {
            transition-duration: .2s;
            transform: scale(.97);
        }
    }

    &--disabled {
        cursor: not-allowed;
    }
}
