.project {
    @extend %container;

    display: flex;
    padding-top: times($gutter, 2);
    padding-bottom: times($gutter, 2);

    flex-flow: wrap;
    justify-content: center;

    & + & {
        border-top: 1px solid #f0f0f0;
    }

    &:nth-child(odd) {
        flex-direction: row-reverse;
    }

    &__primary,
    &__secondary {
        transition: transform .5s, opacity .5s;

        .js & {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }
    }

    &__primary {
        max-width: 30em;
        margin-bottom: times($gutter, 1.5);

        text-align: center;

        @media (min-width: $breakpoint-1) {
            padding-top: times($gutter, 1);
            padding-right: times($gutter, 1.5);
            margin-bottom: 0;

            flex: 1;
            text-align: left;

            .js & {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }

    &:nth-child(odd) &__primary {
        @media (min-width: $breakpoint-1) {
            padding-left: times($gutter, 1.5);
            padding-right: 0;

            .js & {
                transform: translate3d(100%, 0, 0);
            }
        }
    }

    &__secondary {
        @media (min-width: $breakpoint-1) {
            flex: 2;

            .js & {
                transform: translate3d(100%, 0, 0);
            }
        }
    }

    &:nth-child(odd) &__secondary {
        @media (min-width: $breakpoint-1) {
            .js & {
                transform: translate3d(-100%, 0, 0);
            }
        }
    }

    .js &--revealed &__primary,
    .js &--revealed:nth-child(odd) &__primary,
    .js &--revealed &__secondary,
    .js &--revealed:nth-child(odd) &__secondary {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }

    &__name {
        margin-bottom: 0rem;

        font-size: 1.7rem;
    }

    &__agency {
        margin-bottom: .95rem;

        color: #999;
        font-size: .9rem;
        text-transform: uppercase;
    }

    &__cta {
        margin-top: 2.5rem;
    }
}
