@import './_variables.css';

.grid {
  display: grid;
  grid-gap: var(--gutter);
  grid-template-columns:
    [full-start] minmax(0, 1fr)
    [main-start] minmax(0, 960px) [main-end]
    minmax(0, 1fr) [full-end];
  min-height: 100%;
}

.grid > * {
  grid-column: main;
  padding: var(--gutter) 0;
}

.grid > .full {
  background-color: #eee;
  grid-column: full;
}
