@import './_variables.css';

.list {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-top: 4em;
  padding: 0;
}

.item {
  display: block;
}

.link {
  color: var(--tertiary-colour);
  display: block;
  fill: currentColor;
  height: 1.4em;
  opacity: 0.5;
  transition-duration: 0.2s;
  transition-property: color, opacity;
  transition-timing-function: ease-out;
  width: 1.4em;
}

.link svg {
  display: block;
  height: 100%;
  width: 100%;
}

.link:hover,
.link:focus {
  color: var(--primary-colour);
  opacity: 1;
}

.item + .item {
  margin-left: 1.8em;
}
