$button-spacer: 5px;

.browser {
    max-width: 620px;
    border: 1px solid #e5e5e5;

    border-radius: $button-spacer;
    box-shadow: 0 0 20px rgba(#000, .07);

    &:before {
        display: block;
        height: 21px;
        border-bottom: 1px solid #e5e5e5;

        background-color: #f5f5f5;
        background-image:
            radial-gradient($button-spacer - 2 at 12px 50%, #e16e57, #e16e57 $button-spacer - 2, rgba(#eee, 0) $button-spacer - 1),
            radial-gradient($button-spacer - 2 at 24px 50%, #f1c32b, #f1c32b $button-spacer - 2, rgba(#eee, 0) $button-spacer - 1),
            radial-gradient($button-spacer - 2 at 36px 50%, #79cc48, #79cc48 $button-spacer - 2, rgba(#eee, 0) $button-spacer - 1),
            linear-gradient(#f5f5f5, #eee);
        border-radius: 4px 4px 0 0;
        content: '';

        @media (min-width: $breakpoint-1) {
            height: 29px;

            background-image:
                radial-gradient($button-spacer at 14px 50%, #e16e57, #e16e57 $button-spacer, rgba(#eee, 0) $button-spacer + 1),
                radial-gradient($button-spacer at 30px 50%, #f1c32b, #f1c32b $button-spacer, rgba(#eee, 0) $button-spacer + 1),
                radial-gradient($button-spacer at 46px 50%, #79cc48, #79cc48 $button-spacer, rgba(#eee, 0) $button-spacer + 1),
                linear-gradient(#f5f5f5, #eee);
        }
    }

    &__content {
        overflow: hidden;

        border-radius: 0 0 4px 4px;
    }

    &__image {
        display: block;
        width: 100%;
        height: auto;
    }
}
