.recommendation {
    display: flex;
    padding: times($gutter, 1.5) 0;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &__header {
        order: 2;
    }

    &__photo {
        display: block;
        width: 60px;
        height: 60px;
        margin: 0 auto .75rem;

        border-radius: 100%;
    }

    &__name,
    &__role {
        display: block;
    }

    &__role {
        color: #999;
        font-size: .8rem;
    }

    &__body {
        max-width: 30em;
        margin-bottom: times($gutter, 1.5);

        color: #000;
        font-size: 1.1rem;
        font-weight: 300;
        order: 1;
        transition: color .5s 1s;

        @media (min-width: $breakpoint-1) {
            font-size: 1.5rem;
        }

        mark {
            background: none;
            color: #333;
            font-weight: normal;
        }
    }
}
