.footer {
	padding-top: $gutter;
	padding-bottom: $gutter;

	background-color: #eee;
	color: #bbb;

	&__copyright {
		@extend %container;

		margin-top: 1rem;

		font-size: .8rem;
		text-align: center;
		text-transform: uppercase;
	}
}
