<!DOCTYPE html>
<html lang="en-gb" class="no-js">
  <head>
    <title>Mr Dixon's Tea</title>
    <meta name="author" content="Mike Simmonds">
    <meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1">
    {{ stylesheet_tag('http://fonts.googleapis.com/css?family=Gloria+Hallelujah|Open+Sans:300,600') }}
    {{ stylesheet_tag('tea') }}
  {% if env.mode == 'development' %}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js"></' + 'script>')</script>
  {% else %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-9639535-1', 'simmo.me');
      ga('send', 'pageview');
    </script>
  {% endif %}
  </head>
  <body>
    <header class="header">
      <div class="header__outer">
        <div class="header__inner">
          <div class="container">
            <h1 class="header__title">Mr Dixon's Tea</h1>
            <h2 class="header__subtitle">An informal guide to creating the perfect&nbsp;brew.</h2>
          </div>
        </div>
      </div>
    </header>
    
    <div class="wrap">
      <article class="instruction">
        <div class="container">
          <h1>Prepare the mug</h1>
          <p>Mr Dixon's mug is not any old mug. It should be clean to ensure the beverage is not&nbsp;tainted.</p>
          <div class="grid">
            <div class="grid__cell unit-1-2">
              <figure class="example example--bad">
                {{ image_tag('tea/dirty.jpg', { alt: 'Dirty mug' }) }}
              </figure>
            </div>
            <div class="grid__cell unit-1-2">
              <figure class="example example--good">
                {{ image_tag('tea/clean.jpg', { alt: 'Clean mug' }) }}
              </figure>
            </div>
          </div>
        </div>
      </article>
    
      <article class="instruction">
        <div class="container">
          <h1>Prepare the tea bag</h1>
          <p>Be sure to verify that the tea bag is not scrunched or crushed. Mr Dixon's tea will not be perfect unless the tea has room to&nbsp;breathe.</p>
          <div class="grid">
            <div class="grid__cell unit-1-2">
              <figure class="example example--bad">
                {{ image_tag('tea/crushed.jpg', { alt: 'Crushed tea bag' }) }}
              </figure>
            </div>
            <div class="grid__cell unit-1-2">
              <figure class="example example--good">
                {{ image_tag('tea/breathe.jpg', { alt: 'Uncrushed tea bag' }) }}
              </figure>
            </div>
          </div>
        </div>
      </article>
    
      <article class="instruction">
        <div class="container">
          <h1>Steep</h1>
          <p>Pour boiled water into the mug leaving 1.5cm (15mm or 0.6&quot;) clearance. Stir once, do not play with&nbsp;it.</p>
          <p>The tea bag should only be removed from the water after 2 minutes. Squeeze the tea bag on it's departure to ensure Mr Dixon receives all the nutrients and a full&nbsp;flavour.</p>
          <figure class="example example--good">
            {{ image_tag('tea/steep.jpg', { alt: 'Steeping tea' }) }}
          </figure>
        </div>
      </article>
    
      <article class="instruction">
        <div class="container">
          <h1>Milk</h1>
          <p>Under no circumstances should milk be added before the steeping process has been completed. This is a crime, punishable by&nbsp;death.</p>
          <p>Add semi-skimmed milk slowly while stirring the beverage. Mr Dixon will not accept a milky&nbsp;tea.</p>
          <p>Please review the colour with the guide&nbsp;below.</p>
          <ul class="colour">
            <li><strong>HEX:</strong> #BF9474</li>
            <li><strong>CYMK:</strong> 8, 41, 51, 20</li>
            <li><strong>RGB:</strong> 191, 148, 116</li>
            <li><strong>HSL:</strong> 26, 37, 60</li>
          </ul>
          <figure class="example example--good">
            {{ image_tag('tea/milk.jpg', { alt: 'Completed tea' }) }}
          </figure>
        </div>
      </article>
    
      <article class="instruction">
        <div class="container">
          <h1>Announce the beverage</h1>
          <p>Mr Dixon is a busy man. On arriving to Mr Dixon's desk, be sure to announce the tea's arrival with a short&nbsp;<strong>"Ta&nbsp;da!"</strong>. Without proper announcement, the arrival will be missed and the tea will go&nbsp;cold.</p>
        </div>
      </article>
    
      <footer class="sosumi">
        <div class="container">
          <p>&copy; 2014 &bull; <a href="http://simmo.me">Mike Simmonds</a></p>
        </div>
      </footer>
    </div>
  </body>
</html>

