.cta {
  @include transition(all .3s);
  @include font-size(.85);
  
  display: inline-block;
  padding: .75em 1.25em;
  
  background-color: #95a5a6;
  border-radius: 4px;
  color: #fff !important;
  text-transform: uppercase;
  
  #work & {
    background-color: $brand__work__primary;
  }
  
  #employment & {
    background-color: $brand__life__primary;
  }
  
  #about & {
    background-color: $brand__about__primary;
  }
  
  &:hover {
    background-color: #7f8c8d;
    box-shadow: 0 0 10px rgba(#000, .1);
    text-shadow: 0 0 20px rgba(#fff, .8);
    
    #work & {
      background-color: $brand__work__secondary;
    }
    
    #employment & {
      background-color: $brand__life__secondary;
    }
    
    #about & {
      background-color: $brand__about__secondary;
    }
  }
}
